.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.other-message{
    background: var(--ion-color-primary);
    color:#FFF;
}
.my-message{
    background: var(--ion-color-goblue);
    color:#FFF;
}
.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}
.message-input{
width: 100%;
border: 1px solid var(--ion-color-medium);
border-radius: 10px;
background: #fff;
resize: none;
padding-left: 10px;
padding-right: 10px;
}
.message-btn{
 --padding-start: 0.5em;
 --padding-end: 1em;
}
.chat-info{
    position:fixed;
    top:50px;
    left:0;
    width: 100%;
    z-index: 9999;
} 