<ion-content>


  <ion-slides class="mainSlide" #slidePrincipal>

    <ion-slide>

      <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/icon/logo.png"><br>
              <img src="/assets/icon/logo_goppai.png">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-label>Teléfono</ion-label>
                  <ion-input name="celular" type="tel" [(ngModel)]="loginUser.celular" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="pass" type="password" [(ngModel)]="loginUser.pass" required></ion-input>
                </ion-item>

              </ion-list>
              <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>
 
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="pink" shape="round">
                Entrar
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>



    </ion-slide>

    <ion-slide>


      <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img src="/assets/icon/logo.png"><br>
              <img src="/assets/icon/logo_goppai.png">
            </ion-col>
          </ion-row>

        <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-label color="pink">Teléfono</ion-label>
                  <ion-input name="celular" type="tel" [(ngModel)]="registerUser.celular" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="pink">Nombre completo</ion-label>
                  <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="pink">Password</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="registerUser.pass" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="pink">Confirma tu password</ion-label>
                  <ion-input name="confirm" type="password" [(ngModel)]="registerUser.confirm" required></ion-input>
                </ion-item>

              </ion-list>
              <ion-progress-bar *ngIf="loadingsignup" type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="goblue" shape="round">
                Registrar
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>


    </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>


    <ion-row>

      <ion-col>
        <ion-button shape="round" expand="full" color="pink" (click)="mostrarRegistro()">
          Entrar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round" expand="full" color="goblue" (click)="mostrarLogin()">
          Registrar
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>