<ion-header translucent="true" class="ion-no-border" >
  <ion-toolbar >
    <ion-title color="pink">Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" (click)="acciones()" color="pink">
        <ion-icon name="exit-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >


  <ion-grid *ngIf="!loading" class="ion-text-center">
    <ion-row>
      <ion-col>
        <!-- Crescent -->
        <ion-spinner name="crescent"></ion-spinner>
        <div class="ion-padding custom-skeleton">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="!usuario.status && loading" >
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-label color="danger" >We are reviewing your documentation</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="loading && usuario.url_profile != null">
    <ion-row>
      <ion-col class="ion-text-center">
        <div >
          <img class="img-avatar" *ngIf="usuario.url_profile" [ngClass]="imgLoading? 'img-loading':''" src="{{ usuario.url_profile| imagen : usuario.tokenx }}" alt="{{ usuario.nombre }}">
          <img class="img-avatar" *ngIf="!usuario.url_profile" [ngClass]="imgLoading? 'img-loading':''"  src="../../../assets/avatars/av_delivery.png" alt="{{ usuario.nombre }}">
        </div>

        <h1>{{ usuario.nombre }}</h1>
        <p class="text-pink">{{  usuario.celular }}</p>

      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text>Ranking:</ion-text><br>
          <ion-chip color="success" *ngIf="usuario.ranking"> {{ usuario.ranking }} </ion-chip>
          <ion-chip color="success" *ngIf="!usuario.ranking"> - </ion-chip>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-text>Today</ion-text><br>
          <ion-chip size="small" color="primary">
            {{ usuario.today.length }}
          </ion-chip>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-text>All</ion-text><br>
          <ion-chip size="small" color="secondary">
            {{ usuario.todas }}
          </ion-chip>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-text>Canceled</ion-text><br>
          <ion-chip size="small" color="danger" *ngIf="usuario.canceladas"> {{ usuario.canceladas }}  </ion-chip>
          <ion-chip size="small" color="danger" *ngIf="!usuario.canceladas"> 0 </ion-chip>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card *ngIf="usuario.vehicles && !vehicle">
      <ion-card-header color="danger">
        <ion-card-subtitle> Choose a vehicle </ion-card-subtitle>
      </ion-card-header>

      <ion-item *ngFor="let vehiculo of usuario.vehicles">
        <ion-avatar  slot="start">
          <img *ngIf="vehiculo.vehicle_id == 1" src="../../../assets/vehicles/auto.jpg" >
          <img *ngIf="vehiculo.vehicle_id == 2" src="../../../assets/vehicles/moto.jpg" >
          <img *ngIf="vehiculo.vehicle_id == 3" src="../../../assets/vehicles/scooter.png">
          <img *ngIf="vehiculo.vehicle_id == 4" src="../../../assets/vehicles/bici.jpg">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
            <ion-text color="pink"> {{ vehiculo.placa }} </ion-text>
            <p> {{ vehiculo.marca }} {{ vehiculo.modelo }} {{ vehiculo.color }} {{ vehiculo.year }}</p>
        </ion-label>
        <ion-button (click)="chooseVehicle(vehiculo)" slot="end" size="small" color="primary"> Choose</ion-button>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="vehicle">
      <ion-card-header color="success">
        <ion-card-subtitle > Your Vehicle</ion-card-subtitle>
      </ion-card-header>
      <ion-item >
        <ion-avatar slot="start">
          <img *ngIf="vehicle.vehicle_id == 1" src="../../../assets/vehicles/auto.jpg">
          <img *ngIf="vehicle.vehicle_id == 2" src="../../../assets/vehicles/moto.jpg">
          <img *ngIf="vehicle.vehicle_id == 3" src="../../../assets/vehicles/scooter.png">
          <img *ngIf="vehicle.vehicle_id == 4" src="../../../assets/vehicles/bici.jpg">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <ion-text color="pink"> {{ vehicle.placa }} </ion-text>
          <p> {{ vehicle.marca }} {{ vehicle.modelo }} {{ vehicle.color }} {{ vehicle.year }}</p>
        </ion-label>
        <ion-icon name="checkmark-outline" slot="end" color="success"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-row *ngIf="usuario.status == 0">
      <ion-col>
        <h1>Documents</h1>
        <ion-progress-bar *ngIf="uploadingDocument" type="indeterminate"></ion-progress-bar>
        <ion-list *ngFor="let cat of catalogo; let i = index">

          <ion-item-divider>
            <ion-label class="ion-text-wrap">
              <ion-text color="primary">{{ cat.nombre }}</ion-text>
            </ion-label>
            
            <!-- SIN DOCUMENTOS -->
            <ion-icon 
              (click)="uploadPhotoDocumento(cat.id)" 
              *ngIf="!documento[i+1]"
              name="camera-outline" 
              color="primary" 
              slot="end"></ion-icon>

            <!-- CON DOCUMENTOS -->
            <ion-icon 
              name="checkmark-done-outline" 
              *ngIf="documento[i+1] && documento[i+1].confirmacion === 1" 
              color="success" 
              slot="end"></ion-icon>
              
            <ion-icon 
              (click)="uploadPhotoDocumento(cat.id)" 
              *ngIf="documento[i+1] && documento[i+1].confirmacion === 0"
              name="camera-outline" color="primary" slot="end"></ion-icon>
  
            <ion-icon 
              name="checkmark-outline" 
              (click)="confirmarDocumento(documento[i+1])"
              *ngIf="documento[i+1] && documento[i+1].confirmacion === 0" color="tertiary" slot="end"></ion-icon>
  
          </ion-item-divider>

          <ion-card *ngIf="documento[i+1] && documento[i+1].file_url && documento[i+1].confirmacion === 0">
            <ion-img src="{{ documento[i+1].file_url| imagenDocumento : documento[i+1].tokenx }}"></ion-img>
          </ion-card>
        </ion-list>
  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Options</h1>

        <ion-item class="ion_item" lines="full">
          <ion-icon slot="start" name="camera-outline" color="primary"></ion-icon>
          <ion-label (click)="uploadPhoto()">Change photo</ion-label>
        </ion-item>

        <ion-item href="http://www.goppai.com" class="ion_item" lines="full">
          <ion-icon name="help-buoy-outline" slot="start" color="warning"></ion-icon>
          <ion-label>Help & support</ion-label>
        </ion-item>

        <ion-item href="http://www.goppai.com/privacy" class="ion_item" lines="full">
          <ion-icon name="help-buoy-outline" slot="start" color="warning"></ion-icon>
          <ion-label>Terms & Conditions</ion-label>
        </ion-item>

        <ion-item class="ion_item" lines="full">
          <ion-icon name="exit-outline"  slot="start" color="danger"></ion-icon>
          <ion-label (click)="acciones()" >Logout</ion-label>
        </ion-item>
        <small>Ver.1.0.0</small>
        
      </ion-col>
    </ion-row>
     
  
  </ion-grid>



</ion-content>