.card {
    margin: 0 auto;
    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                background-color: #fff;
            }
        }
    }
}

.card-body {
    padding: 30px;
    height: 250px;
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}