<ion-header translucent="true" class="ion-no-border" >
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/tabs/tab2"></ion-back-button>
    </ion-buttons>
    
    <ion-title color="pink"> Detail </ion-title>

    <ion-buttons slot="end" *ngIf="deliveryActiva && deliveryActiva.status_delivery == 1">
          <ion-button (click)="cancel(deliveryActiva)" size="small" color="pink" fill="solid" shape="round">
            Cancel &nbsp;
            <ion-icon slot="start" name="close"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openChat(deliveryActiva)" size="small" color="goblue" fill="solid" shape="round">
        <ion-icon slot="icon-only" name="chatbox-ellipses"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="bg">
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-grid *ngIf="!deliveryActiva || loading" class="ion-text-center">
        <!-- Crescent -->
        <ion-spinner name="crescent"></ion-spinner>
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </div>
  </ion-grid>
 
  <ion-grid *ngIf="deliveryActiva && !loading" class="ion-no-padding">
 

    <!-- CONSULTA DE PEDIDO -->
    <ion-row *ngIf="deliveryActiva.status_delivery == 0 || deliveryActiva.status_delivery == 7" >
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap">
              <ion-text color="goblue"> Order: </ion-text>
              <ion-text color="pink">#{{ deliveryActiva.tokenx }} </ion-text>
              <p>{{ deliveryActiva.created_at | date: 'dd/MM/yyyy H:mm' }}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label class="ion-text-wrap">
            <b>{{ deliveryActiva.comercio.nombre }}</b>
            <p>
              {{ deliveryActiva.comercio.calle }}
              {{ deliveryActiva.comercio.no_exterior }}
              {{ deliveryActiva.comercio.no_interior }}
              {{ deliveryActiva.comercio.colonia }}
              {{ deliveryActiva.comercio.ciudad }}
              {{ deliveryActiva.comercio.estado }}
              {{ deliveryActiva.comercio.codigo_postal }}
            </p>
          <p>
            <b>Tel.</b> <a href="tel:{{ deliveryActiva.comercio.telefono }}"> {{ deliveryActiva.comercio.telefono }}</a> &nbsp;
            <b>Cel.</b> <a href="tel:{{ deliveryActiva.comercio.movil }} "> {{ deliveryActiva.comercio.movil }}</a>
          </p>
          </ion-label>
        </ion-item> 
        
        <ion-item lines="full" *ngIf="deliveryActiva.status === 0">
          <!-- ENTREGA SIN TOMAR -->
          <ion-label class="ion-text-wrap">
            <p>You can accept delivery, right now</p>
            <ion-button expand='block' color="success" *ngIf="deliveryActiva.status === 0" (click)="aceptarEntrega(deliveryActiva)">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              Accept delivery
            </ion-button>
          </ion-label> 
        </ion-item>
        
        <br>

        <ion-row> 
          <ion-col>
            <ion-button (click)="viewPage(0)" size="small" expand="block" shape="rounded" color="primary">Ordered Foods</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="viewPage(1)" size="small" expand="block" shape="rounded" color="success">More</ion-button>
          </ion-col>
        </ion-row>

        <ion-slides class="SlideDetail" #slideDetail>

          <!-- PRODUCTOS -->
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-item class="ion-item" lines="none" *ngFor="let producto of deliveryActiva.productos">
                      <ion-thumbnail slot="start">
                        <img src="{{ producto.url_pic| imagenProducto : producto.tokenp }}">
                      </ion-thumbnail>
                      <ion-label class="ion-text-wrap">
                        <h3 color="pink">{{ producto.nombre | titlecase }}</h3>
                        <p> {{ producto.detalle }}</p>
                      </ion-label>
                    
                      <ion-label slot="end" class="ion-text-right">
                        <ion-text class="text-bold"> {{ producto.valorUnitario | currency }} </ion-text>
                        <p> x {{ producto.cantidad }} </p>
                      </ion-label>
                    </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>

          <!-- DETALLES  -->
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col>

                    <ion-item lines="none">
                      <ion-chip color="pink" slot="start">1</ion-chip>
                      <ion-label class="ion-text-wrap">
                        <p class="text-blue">Pick up the order</p>
                        <ion-text>{{ deliveryActiva.comercio.nombre }}</ion-text>
                        <p>
                          {{ deliveryActiva.comercio.calle  | titlecase }}
                          {{ deliveryActiva.comercio.ciudad | titlecase }} 
                          {{ deliveryActiva.comercio.estado | titlecase }}
                          {{ deliveryActiva.comercio.codigo_postal }}
                        </p>
                        <p class="text-bold" *ngIf="deliveryActiva.status_delivery == 7">
                          {{ deliveryActiva.date_aceptado }}
                        </p>
                      </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                      <ion-chip color="pink" slot="start">2</ion-chip>
                      <ion-label class="ion-text-wrap">
                        <p class="text-blue">Confirm that the order is complete </p>
                        <ion-text>{{ deliveryActiva.productos.length}} items</ion-text>
                        <p class="text-bold" *ngIf="deliveryActiva.status_delivery == 7">
                          {{ deliveryActiva.date_recolectado }}
                        </p>
                      </ion-label>
                    </ion-item>
                    
                    <!-- Let's deliver the order -->
                    <ion-item lines="none">
                      <ion-chip color="pink" slot="start">3</ion-chip>
                      <ion-label class="ion-text-wrap">
                        <p class="text-blue">Let's deliver the order</p>
                        <ion-text>{{ deliveryActiva.entrega_short_direccion | titlecase}} </ion-text>
                      </ion-label>
                    </ion-item>
                    
                    <!-- Let him know you are here-->
                    <ion-item lines="none">
                      <ion-chip color="pink" slot="start">4</ion-chip>
                      <ion-label class="ion-text-wrap">
                        <p class="text-blue">Let him know you are here</p>
                        <ion-text *ngIf="deliveryActiva.status_delivery == 7">
                          Ask for {{ deliveryActiva.direccion.nombre }}
                        </ion-text>
                        <p *ngIf="deliveryActiva.status_delivery == 7"> 
                        
                          {{ deliveryActiva.direccion.calle  | titlecase }}
                          {{ deliveryActiva.direccion.ciudad | titlecase }}
                          {{ deliveryActiva.direccion.estado | titlecase }}
                          {{ deliveryActiva.direccion.codigopostal }}
                        
                        </p>
                      </ion-label>
                    </ion-item>

                    <!-- Let him know you are here-->
                    <ion-item lines="none" *ngIf="deliveryActiva.status_delivery == 7">
                      <ion-chip color="pink" slot="start">5</ion-chip>
                      <ion-label class="ion-text-wrap">
                        <p class="text-blue">Delivered</p>
                        <ion-text >
                          {{ deliveryActiva.date_entregado }}
                        </ion-text>
                      </ion-label>
                    </ion-item>


                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>

        </ion-slides>


        <!--  TOTALES  -->
        <!-- <ion-card class="fixed-bottom">
          <br>
          <ion-grid>
            <ion-row class="p-1">

              <ion-col>
                <ion-label color="pink">
                  <b class="text-big">Subtotal</b>
                </ion-label>
              </ion-col>
              <ion-col class="ion-text-right" >
                {{ deliveryActiva.total | currency }}
              </ion-col>

            </ion-row>

            <ion-row class="p-1">
            
              <ion-col>
                <ion-label color="pink">
                  <b class="text-big">Delivery Fee</b>
                </ion-label>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-label color="success">
                 <b class="text-big"> {{ deliveryActiva.comision | currency }} </b>
                </ion-label>
              </ion-col>
            
            </ion-row>

          </ion-grid>
        </ion-card> -->

      </ion-col>
    </ion-row> 
 

    <!-- EL PEDIDO ES RECIEN ACEPTADO -->
    <ion-row *ngIf="deliveryActiva.status_delivery == 1">
      <ion-col>
          <ion-item lines='none'>
            <ion-chip color="pink" slot="start">
              <ion-label>1</ion-label>
            </ion-chip>
            <ion-label>Pick up the order</ion-label>
          </ion-item> 
          
          <ion-card class="ion-padding">
            <ion-card-subtitle color="pink">Go to</ion-card-subtitle>
            <ion-card-title>{{ deliveryActiva.comercio.nombre }}</ion-card-title>
            <ion-card-content> 
              {{ deliveryActiva.comercio.calle | titlecase }} 
              {{ deliveryActiva.comercio.colonia | titlecase }}
              {{ deliveryActiva.comercio.ciudad | titlecase }}
              {{ deliveryActiva.comercio.estado | titlecase }}
              {{ deliveryActiva.comercio.codigo_postal }}
              
              <br><br>

              <ion-row>
                <ion-col class="ion-text-center">
                  <img src="../../../assets/icon/bussiness.png" />
                </ion-col>
              </ion-row>

              <ion-button (click)="driveService(deliveryActiva)" expand="block">
                <ion-icon slot="start" name="navigate" ></ion-icon>
                Open navigator
              </ion-button>
            </ion-card-content>
          </ion-card>
          
          <ion-card class="ion-padding">
            <ion-card-subtitle color="pink">Order number</ion-card-subtitle>
            <ion-card-title>#{{ deliveryActiva.tokenx }}</ion-card-title>
          </ion-card>

          <br>
          <br>
          <br>


          <ion-button (click)="updateOrder( deliveryActiva.tokenx,2)" *ngIf="deliveryActiva.status_delivery==1" shape="round" expand="full" color="pink" class="btn-fixed-bottom">
            I came to the store
          </ion-button>
      </ion-col>
    </ion-row>


    <!-- CONFIRMAMOS QUE YA TENEMOS EL PAQUETE -->
    <ion-row *ngIf="deliveryActiva.status_delivery == 2">
      <ion-col>

        <ion-item lines='none'>
          <ion-chip color="pink" slot="start">
            <ion-label>2</ion-label>
          </ion-chip>
          <ion-label>Notice that you already have the order</ion-label>
        </ion-item>

        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-subtitle color="goblue">Check your delivery in <b>{{ deliveryActiva.comercio.nombre }}</b> </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <ion-item class="ion-item" lines="none" *ngFor="let producto of deliveryActiva.productos" class="ion-no-padding">
              <ion-thumbnail slot="start">
                <img src="{{ producto.url_pic| imagenProducto : producto.tokenp }}">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap">
                <h3 color="pink">{{ producto.nombre | titlecase }}</h3>
                <p> {{ producto.detalle }}</p>
              </ion-label>
            
              <ion-label slot="end" class="ion-text-right">
                <ion-text class="text-bold"> {{ producto.valorUnitario | currency }} </ion-text>
                <p> x {{ producto.cantidad }} </p>
              </ion-label>
            </ion-item>

              <ion-row>
                <ion-col class="ion-text-center">
                  <img src="../../../assets/icon/sopa.png" />
                </ion-col>
              </ion-row>

          </ion-card-content>
        </ion-card>

        <ion-button (click)="updateOrder( deliveryActiva.tokenx,3)" *ngIf="deliveryActiva.status_delivery==2" shape="round" expand="full" color="pink" class="btn-fixed-bottom">
          I confirm the order
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- VAMOS A DIRIGIRNOS A ENTREGARLO -->
    <ion-row *ngIf="deliveryActiva && deliveryActiva.status_delivery == 3">
      <ion-col>
            <ion-item lines='none'>
          <ion-chip color="pink" slot="start">
            <ion-label>3</ion-label> 
          </ion-chip>
          <ion-label>Let's deliver the order</ion-label>
        </ion-item> 
    
        <ion-card class="ion-padding">
          <ion-card-subtitle color="pink">Ask for</ion-card-subtitle>
          <ion-card-title *ngIf="deliveryActiva.cliente"> 
            {{ deliveryActiva.cliente.nombre }} {{ deliveryActiva.cliente.apellido }} 
            or {{ deliveryActiva.direccion.nombre }}
          </ion-card-title>
          <ion-card-content>
            <ion-text size="small" color="pink">Address</ion-text> <br>
            <ion-text> {{ deliveryActiva.entrega_direccion }}  </ion-text> <br><br>

            <ion-button (click)="driveService(deliveryActiva)" expand="block">
              <ion-icon slot="start" name="navigate"></ion-icon>
              Open navigator
            </ion-button> <br><br> 

              <ion-row>
                <ion-col class="ion-text-center">
                  <img src="../../../assets/icon/entrega.png" />
                </ion-col>
              </ion-row> 

          </ion-card-content>
        </ion-card>
        <ion-button (click)="updateOrder( deliveryActiva.tokenx,4)" *ngIf="deliveryActiva.status_delivery==3" shape="round" expand="full" color="pink" class="btn-fixed-bottom">
          I'm on my way 
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- AVISA QUE YA ESTAS EN LA DIRECCION -->
    <ion-row *ngIf="deliveryActiva.status_delivery == 4">
      <ion-col>
        <ion-item lines='none'>
          <ion-chip color="pink" slot="start">
            <ion-label>4</ion-label>
          </ion-chip>
          <ion-label>Tell me that you have arrived</ion-label>
        </ion-item>
    
        <ion-card class="ion-padding">
          <ion-card-subtitle color="pink">Ask for</ion-card-subtitle>
          <ion-card-title>
            {{ deliveryActiva.cliente.nombre }} {{ deliveryActiva.cliente.apellido }}
            
          </ion-card-title>
          <ion-card-content>
            <ion-text size="small" color="pink">You can also ask for</ion-text> <br>
            <ion-text color="primary" class="text-bold"> {{ deliveryActiva.direccion.nombre }}</ion-text> <br><br>
            
            <ion-text size="small" color="pink">Address</ion-text> <br>
            <ion-text color="primary" class="text-bold">{{ deliveryActiva.entrega_direccion | titlecase }} </ion-text> <br><br>
              
            <ion-row>
              <ion-col class="ion-text-center">
                <img src="../../../assets/icon/pedido.png" />
              </ion-col>
            </ion-row>
    
          </ion-card-content>
        </ion-card>
        <ion-button (click)="updateOrder( deliveryActiva.tokenx,5)" *ngIf="deliveryActiva.status_delivery==4" shape="round" expand="full" color="pink" class="btn-fixed-bottom">
          I'm here!
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- PEDIDO ENTREGADO -->
    <ion-row *ngIf="deliveryActiva.status_delivery == 5">
      <ion-col>
          <ion-row class="ion-padding">
            <ion-col class="ion-text-center">
              <ion-card-title class="text-gigant" color="primary">Order delivered</ion-card-title>
            </ion-col>
          </ion-row> <br>
          <br>
          <br>


          <ion-row>
            <ion-col class="ion-no-padding">
              
              <ion-card>
                <ion-card-content>

                  <ion-item lines="none">
                    <ion-icon name="star" slot="start" color="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      <ion-text color="dark">What do you think of the service for delivery people?</ion-text>
                    </ion-label> 
                  
                    <!-- CALIFICACION -->
                    <ion-icon *ngIf="deliveryActiva.rank_driver_comercio == null" (click) = "calificaNegocio(deliveryActiva.tokenx, 5)" 
                              name="thumbs-up" 
                              color="success" 
                              slot="end">
                    </ion-icon>
                    <ion-icon *ngIf="deliveryActiva.rank_driver_comercio == null" (click) = "calificaNegocio(deliveryActiva.tokenx, 0)" 
                              name="thumbs-down" 
                              color="secondary" 
                              slot="end">
                    </ion-icon>

                    <!-- CALIFICADA -->
                    <ion-icon *ngIf="deliveryActiva.rank_driver_comercio != null" 
                                name="checkmark-circle" 
                                color="success" 
                                slot="end">
                    </ion-icon>

                  </ion-item>

                </ion-card-content>
              </ion-card>



              <ion-card>
                <ion-card-content>
              
                  <ion-item lines="none">
                    <ion-icon name="star" slot="start" color="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      <ion-text color="dark">What did you think of the customer treatment?</ion-text>
                    </ion-label>
              
                    <!-- CALIFICACION -->
                    <ion-icon *ngIf="deliveryActiva.rank_driver_cliente == null"
                              (click) = "calificaCliente(deliveryActiva.tokenx, 5)" 
                              name="thumbs-up" 
                              color="success" 
                              slot="end">
                    </ion-icon>
                    <ion-icon *ngIf="deliveryActiva.rank_driver_cliente == null"
                              (click) = "calificaCliente(deliveryActiva.tokenx, 0)" 
                              name="thumbs-down" 
                              color="secondary" 
                              slot="end">
                    </ion-icon>

                    <!-- CALIFICADA -->
                    <ion-icon *ngIf="deliveryActiva.rank_driver_cliente != null"
                              name="checkmark-circle" 
                              color="success" 
                              slot="end">
                    </ion-icon>

                  </ion-item>
              
                </ion-card-content>
              </ion-card>

              

            </ion-col>
          </ion-row>



        <ion-button (click)="updateOrder( deliveryActiva.tokenx, 7)" *ngIf="deliveryActiva.status_delivery==5" shape="round"
          expand="full" color="pink" class="btn-fixed-bottom">
          Finish delivery!
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>

 

  <ion-grid *ngIf="horror">
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Oops, try later!</h1>
        <img src="../../../assets/delivery_OK2.png" >
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
