
.btn-fixed-bottom{
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

.text-gigant
{
    font-size: 2em;
}

.text-gigant3x
{
    font-size: 3em;
}

.text-gray
{
    background-color: #f2f2f2;
}