<ion-header translucent ="true" class="ion-no-border">
  <ion-toolbar class="transparent">
    <ion-title color="pink">History</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="bg"> 

    <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="!loading" class="ion-text-center">
    <ion-row>
      <ion-col>
        <!-- Crescent -->
        <ion-spinner name="crescent"></ion-spinner>
        <div class="ion-padding custom-skeleton">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row *ngIf="deliverys && loading">
      <ion-col>

        <ion-card *ngFor="let pedido of deliverys">
            <ion-item lines="none">
              <ion-label>
                <ion-text class="text-big"> {{ pedido.bussiness_name }} </ion-text>
                <p class="text-pink">{{ pedido.date_delivery | date }}</p>
              </ion-label>
              
              <ion-button (click)="verDelivery(pedido)" slot="end" size="small" color="goblue">
                <ion-icon name="information-circle-outline"></ion-icon>
                Detail
              </ion-button>
            </ion-item>
        </ion-card>


      </ion-col>
    </ion-row>
    </ion-grid>

 
</ion-content>
